{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="static/css/styles.css">
{% endblock %}

{% block title %}Color Palette{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container">
      <h2 class="display-4 subtitle">Color Palette</h2>
      <hr class="my-4">
    </div>
</div>

<div class="container card-container">
    <div class="card" style="width: 100%;">
                      <img src="data:image/png;base64, {{ image_b64 }}" class="card-img-top" alt="Shit"
                           style="width: 50%; border-radius: 10px;">
                      <div class="card-body">
                        <h3 >Your Colors:</h3>
                        <table>
                            {%for i in colors:%}
                            <tr>
                                <td>
                                    <h4>- #{{ i }}</h4>
                                </td>
                                <td>
                                    <div style="margin-left: 20px;
                                    border-radius: 8px;
                                    height: 20px;
                                    width: 20px;
                                    background-color: #{{i}}"></div>
                                </td>
                            </tr>
                            {%endfor%}
                        </table>
                      </div>
    </div>
 <a href="{{url_for('home')}}" style="margin: 20px 0px 40px 0px; color: #333;">
           <button type="button" class="click">Try new Image</button>
 </a>
</div>

{% endblock %}
